DEBUG = True

CORS_ORIGIN_ALLOW_ALL = False

# Uncomment if dev environment
#CORS_ALLOW_HEADERS = (
#    'x-requested-with',
#    'content-type',
#    'accept',
#    'origin',
#    'authorization',
#    'x-csrftoken',
#    'if-none-match',
#)
#CORS_EXPOSE_HEADERS = (
#    'etag',
#)

